# Environnement virtuel
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
